{% extends 'administrator/base.html.twig' %}

{% block body %}

    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
            <li><a href="{{ path('app_administrator_organization_home') }}">Organizacje</a></li>
            <li class="active">Edycja</li>
        </ol>

        {{ form_start(form) }}

        <div class="form-group">
            <label for="organization_admin">Administrator</label><br/>
            {{ form_row(form.admin, {'label': false, 'attr': { class: 'form-control', placeholder: 'Administrator' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_name">Nazwa</label><br/>
            {{ form_row(form.name, {'label': false, 'attr': { class: 'form-control', placeholder: 'Nazwa' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_email">Email</label><br/>
            {{ form_row(form.email, {'label': false, 'attr': { class: 'form-control', placeholder: 'Email' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_address">Adres</label><br/>
            {{ form_row(form.address, {'label': false, 'attr': { class: 'form-control', placeholder: 'Adres' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_buildingAndApartmentNumber">Numer budynku oraz lokalu</label><br/>
            {{ form_row(form.buildingAndApartmentNumber, {'label': false, 'attr': { class: 'form-control', placeholder: 'Numer budynku oraz lokalu' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_postCode">Kod pocztowy</label><br/>
            {{ form_row(form.postCode, {'label': false, 'attr': { class: 'form-control', placeholder: 'Kod pocztowy' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_city">Miejscowość</label><br/>
            {{ form_row(form.city, {'label': false, 'attr': { class: 'form-control', placeholder: 'Miejscowość' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_country">Kraj</label><br/>
            {{ form_row(form.country, {'label': false, 'attr': { class: 'form-control', placeholder: 'Kraj' }}) }}
        </div>
        <div class="form-group">
            <label for="organization_slug">Slug</label><br/>
            {{ form_row(form.slug, {'label': false, 'attr': { class: 'form-control', placeholder: 'Slug' }}) }}
        </div>
        <div style="margin-bottom: 15px; text-align: center;">
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
        <div style="text-align: center;">
            <button type="reset" class="btn btn-danger btn-xs">Opróżnij formularz</button>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}