{% extends 'administrator/view/faq/base.html.twig' %}

{% block content %}

    {% for flash_info in app.flashes('remove_faq_item_error') %}
        <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #fcb9b9; color: red;">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('new_faq_item_error') %}
        <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #fcb9b9; color: red;">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('update_faq_item_error') %}
        <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #fcb9b9; color: red;">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('remove_faq_item_success') %}
        <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #9ee72d; color: green;">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('new_faq_item_success') %}
        <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #9ee72d; color: green;">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('update_faq_item_success') %}
        <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #9ee72d; color: green;">{{ flash_info }}</div>
    {% endfor %}

    {% if faqs %}
        {% for faq in faqs %}
            <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #93c5fd;">
                <div style="font-weight: bold;">
                    {{ faq.question }}
                </div>
                <div style="font-size: 80%; color: white;">
                    Priorytet: {{ faq.priority }}
                </div>
                <div style="font-style: italic;">
                    {{ faq.answer }}
                </div>
                <a href="{{ path('app_administrator_faq_update', {id: faq.id}) }}"><button>Edytuj</button></a>
                <br/>
                <a href="{{ path('app_administrator_faq_delete', {id: faq.id}) }}"><button>Usuń</button></a>
            </div>
        {% endfor %}
    {% else %}
        <p>Brak danych do wyświetlenia</p>
    {% endif %}
{% endblock %}