{% extends 'administrator/base.html.twig' %}

{% block body %}

    {% for flash_info in app.flashes('remove_faq_item_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('new_faq_item_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('update_faq_item_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('remove_faq_item_success') %}
        <div class="alert alert-success" role="alert">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('new_faq_item_success') %}
        <div class="alert alert-success" role="alert">{{ flash_info }}</div>
    {% endfor %}

    {% for flash_info in app.flashes('update_faq_item_success') %}
        <div class="alert alert-success" role="alert">{{ flash_info }}</div>
    {% endfor %}

    {% if faqs %}
        <table class="table table-condensed table-custom">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Priorytet</td>
                    <td>Pytanie</td>
                    <td>Odpowiedź</td>
                    <td colspan="2">Akcje</td>
                </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
                <tr>
                    <td>{{ faq.id }}</td>
                    <td>{{ faq.priority }}</td>
                    <td>{{ faq.question }}</td>
                    <td>{{ faq.answer }}</td>
                    <td>
                        <a href="{{ path('app_administrator_faq_update', {id: faq.id}) }}">
                            <button type="button" class="btn btn-primary btn-xs">Edytuj</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_administrator_faq_delete', {id: faq.id}) }}">
                            <button type="button" class="btn btn-danger btn-xs">Usuń</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            Brak danych
        </div>
    {% endif %}
{% endblock %}