{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        Rejestracja użytkownika | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div>{{ flash_error }}</div>
    {% endfor %}

    <h1>Rejestracja nowego użytkownika</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit">Zarejestruj</button>
    {{ form_end(registrationForm) }}
{% endblock %}
