{% extends 'administrator/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
            <li><a href="{{ path('app_administrator_branch_home') }}">Oddziały</a></li>
            <li class="active">{{ branch.name }} ( {{ organization.name }} )</li>
        </ol>
        {{ branch.name }}
    </div>
{% endblock %}