<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.</title>{% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('website') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('website') }}
        {% endblock %}
    </head>
    <body>
        <div class="content">
            <div class="navbar">
                <a href="{{ path('app_website_home') }}">CarFLOw.Site</a>
                <a href="{{ path('app_website_reservation') }}">Rezerwacja</a>
                <a href="{{ path('app_website_catalog_organizations') }}">Organizacje</a>
                <a href="{{ path('app_website_catalog_branches') }}">Oddziały</a>
                <a href="{{ path('app_website_functionalities') }}">Funkcjonalności</a>
                <a href="{{ path('app_website_price-list') }}">Cennik</a>
                <a href="{{ path('app_website_faq') }}">FAQ</a>
                <a href="{{ path('app_website_contact') }}">Kontakt</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    {% if is_granted('ROLE_CLIENT') %}
                        <a href="{{ path('app_website_customerPanel') }}">Panel klienta</a>
                        <a href="{{ path('app_website_servicePanel') }}">Panel obsługi</a>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_administrator_home') }}">Panel administratora</a>
                    {% endif %}

                    <a href="{{ path('app_website_account') }}">{{ app.user.email }}</a>
                    <a href="{{ path('app_website_logout') }}">Wyloguj się</a>
                {% else %}
                    <a href="{{ path('app_website_login') }}">Zaloguj się</a>
                    <a href="{{ path('app_register') }}">Zarejestruj się</a>
                {% endif %}
            </div>
            {% block body %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-up">
                <span class="info">Nawigacja:</span>
                <a href="{{ path('app_website_home') }}">HOME</a>
                <a href="{{ path('app_website_rodo') }}">RODO</a>
                <a href="{{ path('app_website_privacy-policy') }}">Polityka Prywatności</a>
                <a href="{{ path('app_website_customerPanel') }}">Panel klienta</a>
                <a href="{{ path('app_website_servicePanel') }}">Panel obsługi</a>
                <a href="{{ path('app_administrator_home') }}">Panel administratora</a>
            </div>
            <div class="footer-down">
                <a href="{{ path('app_website_home') }}">CarFLOw.Site</a><br/>
                Wrocław 2023<br/>
                Stworzone przez <a href="https://adrianflorczak.pl" target="_blank" class="author">Adrian Florczak</a>
            </div>
        </footer>
    </body>
</html>
