{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        {{ organization.name}} | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Organizations</a></li>
            <li><a href="{{ path('app_website_catalog_organizations') }}">Organizacje</a></li>
            <li class="active">{{ organization.name }}</li>
        </ol>

        {% if organization %}
            {{ organization.name }}<br/>
            {{ organization.address }} {{ organization.buildingAndApartmentNumber }}<br/>
            {{ organization.postCode }} {{ organization.city }}<br/>
            {{ organization.country }}<br/><br/>
            Kontakt<br/>
            Email: <a href="mailto:{{ organization.email }}">{{ organization.email }}</a><br/><br/>
            {% if branches %}
                Oddziały:<br/>
                {% for branch in branches %}
                    <a href="{{ path('app_website_organization_branch', {organizationSlug: organization.slug, branchSlug: branch.slug}) }}">{{ branch.name }}</a><br/>
                {% endfor %}
            {% endif %}

        {% else %}
            <div class="alert alert-info" role="alert">Brak danych</div>
        {% endif %}
    </div>
{% endblock %}