{% extends 'administrator/base.html.twig' %}

{% block body %}

    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Organizations</a></li>
            <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
            <li><a href="{{ path('app_administrator_organization_home') }}">Organizacje</a></li>
            <li class="active">{{ organization.name }}</li>
        </ol>

        <a href="{{ path('app_administrator_organization_update-one', {id: organization.id}) }}"><button class="btn btn-default btn-xs">Edytuj</button></a>
        <a href="{{ path('app_administrator_organization_remove-one', {id: organization.id}) }}"><button class="btn btn-danger btn-xs">Usuń</button></a><br/><br/>


        {% if organization %}
            {{ organization.name }}<br/><br/>

            Administrator: <br/>
            {{ organization.admin.name }} {{ organization.admin.surname }}<br/>
            {{ organization.admin.email }}<br/><br/>

            Kontakt:<br/>
            E-mail: <a href="mailto:{{ organization.email }}">{{ organization.email }}</a><br/><br/>

            Adres:<br/>
            {{ organization.address }}
            {{ organization.buildingAndApartmentNumber }}<br/>
            {{ organization.postCode }}<br/>
            {{ organization.city }}<br/>
            {{ organization.country }}<br/><br/>

            Oddziały:<br/>
            {% for branch in branches %}
                {{ branch.name }}<br/>
            {% endfor %}

        {% else %}
            <div class="alert alert-dange" role="alert">Brak danych</div>
        {% endif %}
    </div>

{% endblock %}