{% extends 'administrator/base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_administrator_home') }}">Panel administratora</a></li>
            <li><a href="{{ path('app_administrator_home') }}">FAQ</a></li>
            <li class="active">Usuń wpis o identyfikatorze: {{ item.id }}</li>
        </ol>
    </div>

    {% for flash_info in app.flashes('remove_faq_item_confirmation_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_info }}</div>
    {% endfor %}

    <div style="margin: 15px; padding: 15px; border-radius: 15px; background-color: #93c5fd;">
        <div style="text-align: center; color: red;">
            Podgląd wpisu przeznaczonego do usunięcia
        </div>
        <div style="font-weight: bold;">
            {{ item.question }}
        </div>
        <div style="font-size: 80%; color: white;">
            Priorytet: {{ item.priority }}
        </div>
        <div style="font-style: italic;">
            {{ item.answer }}
        </div>
    </div>
    <div style="margin: 15px; padding:15px; border-radius: 15px; background-color: #fcb9b9; color: red; text-align: center;">
        <span style="font-size: 120%">Czy na pewno chcesz usunąć wpis o identyfikatorze: {{ item.id }} ?</span><br/>
        <span style="font-size: 80%">Aby potwierdzić wpisz w poniższym polu "TAK" i naciśnij przycisk "POTWIERDŹ".</span><br/><br/>

        {{ form(form) }}
    </div>
{% endblock %}