{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        {{ organization.name }}: {{ branch.name}} | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Organizations</a></li>
            <li><a href="{{ path('app_website_catalog_organizations') }}">Organizacje</a></li>
            <li><a href="{{ path('app_website_organization', {organizationSlug: organization.slug}) }}">{{ organization.name }}</a></li>
            <li class="active">Oddział: {{ branch.name }}</li>
        </ol>


        Oddział: {{ branch.name }}<br/><br/>
        Organizacja zarządzająca:<br/>
        <a href="{{ path('app_website_organization', {organizationSlug: organization.slug}) }}">
            {{ organization.name }}<br/>
            {{ organization.address }} {{ organization.BuildingAndApartmentNumber }}<br/>
            {{ organization.postCode }} {{ organization.city }}<br/>
            {{ organization.country }}
        </a><br/><br/>

        Pojazdy:<br/>
        {% if cars %}
            {% for car in cars %}
                <a href="{{
                    path(
                        'app_website_organization_branch_car',
                        {
                            organizationSlug: organization.slug,
                            branchSlug: branch.slug,
                            carId: car.id
                        }
                    )
                }}">{{ car.brand }} {{ car.model }} ({{ car.vin }})</a><br/>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">Brak danych</div>
        {% endif %}
    </div>
{% endblock %}