{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        {{ organization.name }}: {{ branch.name}} | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_website_catalog_organizations') }}">Organizacje</a></li>
            <li><a href="{{ path('app_website_organization', {organizationSlug: organization.slug}) }}">Organizacja: {{ organization.name }}</a></li>
            <li class="active">Oddział: {{ branch.name }}</li>
        </ol>


        Oddział: {{ branch.name }}<br/><br/>
        Organizacja zarządzająca:<br/>
        <a href="{{ path('app_website_organization', {organizationSlug: organization.slug}) }}">
            {{ organization.name }}<br/>
            {{ organization.address }} {{ organization.BuildingAndApartmentNumber }}<br/>
            {{ organization.postCode }} {{ organization.city }}<br/>
            {{ organization.country }}
        </a>
    </div>
{% endblock %}