{% extends 'website/base.html.twig' %}

{% block title %}
    <title>
        {{ organization.name }}: {{ branch.name}}: {{ car.brand }} {{ car.model }} (Id: {{ car.id }}) | CarFLOw.site - Ty spełniaj marzenia, My dostarczymy samochód.
    </title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_website_home') }}">Home</a></li>
            <li><a href="{{ path('app_website_catalog_organizations') }}">Organizacje</a></li>
            <li><a href="{{ path('app_website_organization', {organizationSlug: organization.slug}) }}">Organizacja: {{ organization.name }}</a></li>
            <li><a href="{{ path('app_website_organization_branch', {organizationSlug: organization.slug, branchSlug: branch.slug}) }}">Organizacja: {{ branch.name }}</a></li>
            <li class="active">{{ car.brand }} {{ car.model }} (Id: {{ car.id }})</li>
        </ol>
        {{ car.brand }} {{ car.model }}<br/>
        {{ car.vin }}<br/><br/>

        Aktualny oddział:<br/>
        <a href="{{ path('app_website_organization_branch', {organizationSlug: organization.slug, branchSlug: branch.slug}) }}">{{ branch.name }}</a><br/><br/>

        Organizacja zarządzająca:<br/>
        <a href="{{ path('app_website_organization', {organizationSlug: organization.slug}) }}">
            {{ organization.name }}<br/>
            {{ organization.address }} {{ organization.BuildingAndApartmentNumber }}<br/>
            {{ organization.postCode }} {{ organization.city }}<br/>
            {{ organization.country }}
        </a>
    </div>
{% endblock %}