<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Panel administratora{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('administrator') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('administrator') }}
        {% endblock %}
    </head>
    <body>
        <div class="content">
            <div class="navbar">
                <a href="{{ path('app_administrator_home') }}">Panel administratora</a>
                <a href="{{ path('app_administrator_faq_home') }}">Faq</a>
            </div>
            <div style="padding: 15px;">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer class="footer">
            <a href="{{ path('app_website_home') }}">Wróć do strony głównej</a>
        </footer>
    </body>
</html>
